.login {
  margin: 20px auto;
  padding: 40px 10px;
  max-width: 500px;
  border-radius: 5px;
  background: #fff;
  margin-top: 80px;
}
.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 14px 12px;
  font-size: 16px;
  font-family: Raleway, sans-serif;
}

.login input[type="text"],
.login input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="submit"] {
  border: none;
  background: #2d31fa;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type="submit"]:hover {
  background: #2f61d6;
}

.login h2 {
  margin: 0px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  /* border-top: 1px solid #c0c0c0; */
  margin-bottom: 10px;
}
.links label {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.8em;
  color: #ffffff;
}

.links input[type="checkbox"] {
  width: 10%;
  margin-right: 5px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
  color: #ffffff;
}

.links a:first-child {
  text-align: left;
  color: #ffffff;
}

.links a:last-child {
  text-align: right;
  color: #ffffff;
  font-size: 13px;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:hover {
  text-decoration: underline;
}

.wrong-login {
  text-align: center;
  color: red;
}

.form-border {
  padding: 2rem;
  border-radius: 25px;
  overflow: hidden;
  background-color: rgba(93, 139, 244, 0.75);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: black;
  background: rgba(93, 139, 244, 0.75);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.Bline {
  border-bottom: 1px solid #ffffff;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.form-border label {
  color: #ffffff;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.form-border .parag {
  margin-top: 40px;
  margin-bottom: 5px;
}

.links-register {
  display: table;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
